#ID_body{
    width: 1500px;
   margin: auto;
   font-family: 'Grenze Gotisch', cursive;
   
    
}
header{
    width: 1300px;
    background: black;
    color: red;
    height: 90px;
    float: left;
    /* background-image: url(nav.png);
    background-size: 100% 1500px;  */
   
}
aside{
    width: 200px;
    height: 90px;
    background:#165696;
    color: red;
    float: right;
}
nav{
    width: 300px;
    height: 1000px;
    background: black;
    float: left;
    color: red;
}
main{
    width: 1200px;
    height: 1000px;
    background:#151714;
    float: right;
    background-image: url(navi.PNG);
   background-size: 100% 1500px; 
}
main article{
   margin: 10px;
   width: 580px;
   height: 310px;
   background:black;
   color: red;
   object-fit: cover;
   float: left;
}

#tab{

    width: 500px;
    height: 150px;
}
#sa{
    opacity: 0.5;
    width: 20%;
    height: 30%;
}
#sa:hover{
    opacity: 1.5;
}
#vik{
   opacity: 0.5;
    width: 20%;
    height: 30%;
    
}
#vik:hover{
    opacity: 1.5;

}
footer{
background: black;
width: 1500px;
height: 70px;
clear: both;
}
